.protected-route {
  width: 100%;
  height: 100%;
}

.protected-route__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32rem;
  padding: var(--spacing-lg);
}
